@model CrudAM.Models.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.)</td>
            <td></td>
        </tr>
        <tr>
            <td>Name</td>
            <td></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td></td>
        </tr>
    </table>
}